// styles.scss

$primary-color: #f92874;
$secondary-color: #6f42c1;
$background-gradient: linear-gradient(to bottom, #ffffff 60%, #f5ecff);
$automation-bg: linear-gradient(135deg, #6f42c1, #000c3f);

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  //background: $background-gradient;
  color: #1a1a1a;
  // background: url("/img/UX@2x.png") center/cover no-repeat;
  height: 1000px;
}

section {
  padding: 4rem 2rem;
  text-align: center;
}

.ideas-section {
  min-height: 100vh;
  .ideas-section {
    position: relative;
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to bottom right, #fff, #f8f8ff);
    overflow: hidden;
  }

  .icons-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
  }

  .icon-svg {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 8px #002ab31a;
    padding: 10px;
  }

  .icon-svg:nth-child(1) {
    top: 20%;
    left: 20%;
  }
  .icon-svg:nth-child(2) {
    top: 40%;
    left: 10%;
  }
  .icon-svg:nth-child(3) {
    top: 60%;
    left: 20%;
  }
  .icon-svg:nth-child(4) {
    top: 60%;
    left: 2%;
  }
  .icon-svg:nth-child(5) {
    top: 80%;
    left: 10%;
  }
  .icon-svg:nth-child(6) {
    top: 21%;
    right: 10%;
  }
  .icon-svg:nth-child(7) {
    top: 40%;
    right: 20%;
  }
  .icon-svg:nth-child(8) {
    top: 60%;
    right: 10%;
  }
  .icon-svg:nth-child(9) {
    top: 60%;
    right: 2%;
  }
  .icon-svg:nth-child(10) {
    top: 80%;
    right: 2%;
  }

  .text-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    z-index: 2;
  }

  .text-center h1 {
    max-width: 300px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #000743;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .text-center p {
    max-width: 350px;
    font-size: 1rem;
    color: #000743;
    margin-bottom: 30px;
  }

  .btn {
    background-color: #f92672;
    color: white;
    padding: 12px 12px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 4px 4px #00000040;
    text-decoration: none;
  }
}

.automation-section {
  background: url("/img/UX@2x_idea.png") center/cover no-repeat, $automation-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0rem 2rem;
  height: 400px;

  .text-container {
    max-width: 600px;
    text-align: left;
    margin-left: 20px;

    h2 {
      font-size: 2.5rem;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin-bottom: 3rem;
    }

    .btn.light {
      background-color: #a86db7;
      color: #ffffff;
      padding: 0.75rem 1.5rem;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .image-container {
    height: 400px;
    position: relative;

    img {
      max-width: 280px;
      border-radius: 12px;
      //box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

      #runtime {
        top: 0;
        left: 0;
        border-radius: 12px;
        // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      }

      #ai {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        border-radius: 12px;
        // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

@media (max-width: 768px) {
  .automation-section {
    flex-direction: column;
    text-align: center;

    .text-container {
      margin: 0 auto;
      padding: 1rem;
    }

    .image-container {
      margin-top: 2rem;
      img {
        max-width: 100%;
      }
    }
  }
}

.achievement-section {
  background: url("/img/UX@2x_3rd.png") center/cover no-repeat, $automation-bg;
  display: flex;
  flex-direction: row;
  gap: 12rem;
  justify-content: center;
  color: white;
  padding: 10rem 2rem;
  height: 400px;

  .image-container{

  #rating_img {
    max-width: 600px;
    width: 320px;
    height: 340px;
    // background: white;
    padding: 0.1rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  #left_arrow{
  }
}

  .text-container {
    text-align: left;

    h2 {
      max-width: 350px;
      font-size: 2.5rem;
      height: 1.2;
      margin-bottom: 1.5rem;
      color: #000743;
      //display: left;
      //flex-direction: column;
    }

    p {
      max-width: 450px;
      // margin: 1rem 0;
      font-size: 0.9rem;
      color: #000743;
    }
  }
}

.journey-section {
  background: url("/img/UX@2x_4th.png") center/cover no-repeat, $automation-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0.01rem 1.5rem;
  height: 515px;

  .text-container {
    max-width: 1000px;
    text-align: center;

    h1 {
      max-width: 400px;
      font-size: 3.5rem;
      // margin-bottom: 7rem;
    }

    .btn.light {
      background-color: #ff3366;
      color: white;
      padding: 0.75rem 1.5rem;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

@media (min-width: 768px) {
  .automation-section {
    flex-direction: row;
    text-align: left;
    .automation-content {
      flex: 1;
      padding-right: 2rem;
    }
    .automation-image {
      flex: 1;
      margin-top: 0;
    }
  }
}
